* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #990000;
  --secondary: #ff5b00;
  --second-lightest: #d4d925;
  --lightest: #ffee63;
}

body {
  background-color: #fefefe;
  font-family: "Montserrat", sans-serif;
  color: #222;
}

h1 {
  font-size: 4rem;
  width: max-content;
  margin: 0 auto 3%;
  padding: 4% 0 1%;
}

.header-container {
  background-color: var(--primary);
  color: #fefefe;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
  padding: 0 10%;
  /* REMEMBER THIS TO KEEP EMPTY ROWS FROM HAPPENING */
  align-items: start;
  margin-bottom: 5%;
}

.ui-container {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(34, 34, 34, 0.176);
}

.nutrition-inputs-container {
  display: flex;
  justify-content: center;
}

.user-input-form {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-input-form .input-field {
  padding: 3% 0;
}

input[type="text"] {
  width: 80%;
  font-size: 2rem;
  display: inline-block;
}

textarea {
  font-size: 1.5rem;
}

.find-meals-btn {
  margin-top: 2rem;
  border: solid var(--primary);
  background-color: var(--primary);
  color: #fefefe;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
}

.find-meals-btn:hover {
  cursor: pointer;
  border: solid var(--primary);
  background-color: #fefefe;
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

/* MEAL CONTAINER */
.meals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.meals-container h1 {
  font-size: 2.5rem;
  max-width: fit-content;
  grid-column: 1 / 4;
  color: var(--primary);
}

.meal {
  box-shadow: 0 10px 30px rgba(34, 34, 34, 0.176);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
}

.meal h2 {
  text-align: center;
  color: var(--primary);
}

.meal ul {
  list-style: none;
  font-size: 1.5rem;
}

.meal li {
  margin-bottom: 0.75rem;
}

.meal a {
  display: inline-block;
  padding-top: 2%;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 700;
  justify-self: flex-end;
}

.meal img {
  width: 100%;
  border-radius: 1rem;
}
